body {
	font-family:"Tiems New Roman", Times, serif;
	font-size: small;
}

table {
	width: 600px;
	text-align: center;	
}

td {
	vertical-align:top;
	padding: 2px;
}

.label_col {
	text-align: right;
}

.form_col {
	text-align: left;
}

.textarea{
	position: absolute;
	left: 6.5em;
	margin-top: 15px;
	margin-left: 20px;
	text-align: right;
}

.button {
	margin-top: 290px;
}