body {
    background-color:azure;
    color:black;
    font-family: "Times New Roman", Times, serif;
    font-size:small;
}
	
p {
    background-color:skyblue;
    font-family: "Courier New", Courier, monospace;
}
  